%% -*- erlang -*-
{erl_opts, [
	debug_info,
	warnings_as_errors
	]}.

{lib_dirs, [
	"deps", "..", "deps2"
	]}.

{deps, [
  {alog,     ".*", {git, "git://github.com/siberian-fast-food/alogger.git", "master"}}
, {gproc,    ".*", {git, "git://github.com/uwiger/gproc.git", "master"}}
, {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", "HEAD"}}
]}.

{cover_enabled, true}.

{eunit_opts, [
	verbose,
	{report, {
		eunit_surefire,[{dir,"."}]
		}
	}
]}.

{eunit_exclude_deps, true}.
{sub_dirs, ["rel"]}.
